{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="vh-lg-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">

                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    AIprep - Sign UP
                                </h1>
                                <br />
                                <p>
                                    {% if msg %}
                                        <p{% if error %} class="text-danger"{% endif %}>{{ msg | safe }}</p>
                                    {% else %}
                                        Add your credentials
                                    {% endif %}                                     
                                </p>    
                            </div>
                            
                            {% if success %}

                                <a href="{% url 'login' %}" class="btn btn-block btn-primary">Sign IN</a>

                            {% else %}

                                <form method="post" action="">
                                
                                    {% csrf_token %}

                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label>First Name</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-user"></span></span>
                                            {{ form.first_name }}
                                        </div>
                                        <span class="text-danger">{{ form.first_name.errors }}</span>
                                    </div>
                                    <!-- End of Form -->

                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label>Last Name</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-user"></span></span>
                                            {{ form.last_name }}
                                        </div>
                                        <span class="text-danger">{{ form.last_name.errors }}</span>
                                    </div>
                                    <!-- End of Form -->

                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label>Phone Number (+98)</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-mobile"></span></span>
                                            {{ form.phone_number_user_name }}
                                        </div>
                                        <span class="text-danger">{{ form.phone_number_user_name.errors }}</span>
                                    </div>
                                    <!-- End of Form -->

                                    <!-- Form -->
                                    <div class="form-check">
                                      {{ form.agree_to_terms }}
                                      <label class="form-check-label" for="termsCheckbox">
                                        I agree to the
                                        <a href="{% url 'terms' %}" target="_blank" class="text-success">Terms and Conditions</a>
                                        <span class="text-danger">{{ form.agree_to_terms.errors }}</span>

                                      </label>
                                    </div>
                                    <!-- End of Form -->

                                    <div class="form-group">

                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div class="form-check">
                                                <a href="{% url 'login' %}" class="small text-right">Login</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <button type="submit" name="register" class="btn btn-block btn-primary">Sign IN</button>
                                </form>

                            {% endif %}


                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    &copy; AIprep 2024 - powered by Themesberg
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
