{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Plan Name</th>
                            <th>Reference ID</th>
                            <th>Card</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        {% if number_of_transactions == 0 %}
                            <tr>
                                <td colspan="5" class="text-center">There is no transaction</td>
                            </tr>
                        {% else %}
                            {% for transaction in transactions %}
                            <tr>
                                <td>
                                    <a href="/static/assets/invoice.html" class="font-weight-bold">
                                        {{ forloop.counter }}
                                    </a>
                                </td>
                                <td>
                                    <span class="font-weight-normal">{{ transaction.plan.plan_name }}</span>
                                </td>
                                <td><span class="font-weight-normal">{{ transaction.ref_id }}</span></td>
                                <td><span class="font-weight-normal">{{ transaction.card_pan }}</span></td>
                                <td><span class="font-weight-normal">{{ transaction.created_at }}</span></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
{#                <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">#}
{#                    <nav aria-label="Page navigation example">#}
{#                        <ul class="pagination mb-0">#}
{#                            <li class="page-item">#}
{#                                <a class="page-link" href="#">Previous</a>#}
{#                            </li>#}
{#                            <li class="page-item">#}
{#                                <a class="page-link" href="#">1</a>#}
{#                            </li>#}
{#                            <li class="page-item active">#}
{#                                <a class="page-link" href="#">2</a>#}
{#                            </li>#}
{#                            <li class="page-item">#}
{#                                <a class="page-link" href="#">3</a>#}
{#                            </li>#}
{#                            <li class="page-item">#}
{#                                <a class="page-link" href="#">4</a>#}
{#                            </li>#}
{#                            <li class="page-item">#}
{#                                <a class="page-link" href="#">5</a>#}
{#                            </li>#}
{#                            <li class="page-item">#}
{#                                <a class="page-link" href="#">Next</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </nav>#}
{#                    <div class="font-weight-bold small">Showing <b>5</b> out of <b>25</b> entries</div>#}
{#                </div>#}
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
