{% extends "layouts/base.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="row">
                <div class="col-12">
                    <div class="card card-body bg-white border-light shadow-sm mb-4 min-vh-100" style="text-align: justify">
                        <div>
                            <h2>Written answer:</h2>
                            <p>{{ correction.answer }}</p>
                        </div>
                        <hr>
                        {% if correction.correction == "" %}
                        <p class="text-warning">Not corrected yet</p>
                        {% elif correction.get_status_display == "Invalid" %}
                        <p class="text-danger">Unfortunately, the answer is not about the selected question.</p>
                        {% else %}
                        <div>
                            {{ correction.correction|render_markdown }}
                            {% if comparison %}
                                <div>
                                <h2>Comparison of revised and original text</h2>
                                {% autoescape off %}
                                    {{ comparison }}
                                {% endautoescape %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
