{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>
                                <div class="d-sm-none">
                                    <h2 class="h5">Subscription</h2>
                                    <h3 class="mb-1">{{ user_plan.plan_name }}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0 d-flex flex-column justify-content-between">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">Subscription</h2>
                                    <h3 class="mb-1">{{ user_plan.plan_name }}</h3>
                                </div>
                                <div>
                                    {% if start_of_plan and end_of_plan %}
                                    <small>{{ start_of_plan }} - {{ end_of_plan }}</small>
                                    {% endif %}
                                    <div class="small mt-2">
                                        <span class="text-success font-weight-bold">Remaining Days: {% if remaining_days %}{{ remaining_days }}{% else %}Unlimited{% endif %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm h-100">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-secondary rounded mr-4"><span class="fas fa-atom"></span></div>
                                <div class="d-sm-none">
                                    <h2 class="h5">Daily Corrections</h2>
                                    <h3 class="mb-1">{{ user_plan.available_daily_corrections }}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0 d-flex justify-content-between flex-column">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">Daily Corrections</h2>
                                    <h3 class="mb-1">{{ user_plan.available_daily_corrections }}</h3>
                                </div>
                                <div class="small mt-2">
                                    <span class="{% if remaining_corrections > 0 %}text-success{% else %}text-danger{% endif %} font-weight-bold">Remaining Corrections (today): {{ remaining_corrections }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 mb-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                    <h2 class="h5">Corrections</h2>
                                    </div>
                                    <div class="col text-right">
                                        <a href="{% url 'show_corrections' %}" class="btn btn-sm btn-secondary">See all</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Exam Type</th>
                                        <th scope="col">Exam Name</th>
                                        <th scope="col">Exam Number</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Item -->
                                      {% for correction in corrections %}
                                      <tr>
                                          <td class="border-0"><a href="#" class="text-primary font-weight-bold">{{ forloop.counter }}</a> </td>
                                          <td class="border-0 font-weight-bold">
                                              {{ correction.question_type_data.get_exam_type_display }}
                                          </td>
                                          <td class="border-0">
                                              {{ correction.question_type_data.get_exam_db_name_display }}
                                          </td>
                                          <td class="border-0">
                                              {{ correction.question_type_data.exam_db_number }}
                                          </td>
                                          <td class="border-0">
                                              {% if correction.get_status_display == "Pending" %}
                                              <span class="text-warning font-weight-bold">Pending</span>
                                              {% elif correction.get_status_display == "Invalid" %}
                                              <span class="text-danger font-weight-bold">Invalid</span>
                                              {% elif correction.get_status_display == "Corrected" %}
                                              <span class="text-success font-weight-bold">Corrected</span>
                                              {% endif %}
                                          </td>
                                          <td class="border-0">
            {#                                  {% if correction.get_status_display == "Corrected" %}#}
                                              <a href="{% url 'show_correction' correction_id=correction.id %}">
                                                  <span class="fas fa-eye fa-lg text-info" title="Show Correction"></span>
                                              </a>
            {#                                  {% endif %}#}
                                          </td>
                                      </tr>
                                      <!-- End of Item -->
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
